<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="google-site-verification" content="k0sKJ0ue7vIUstzv6xAccLUcwFgEnv4N1m8VcdrvWYI" />
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>HostAd</title>
    <!-- Place vicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="/static/images/hostad2.png">
    <link rel="shortcut icon" type="image/ico" href="/static/images/hostad2.png" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

   <!-- <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>   Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#home-page" class="navbar-brand logo">
                    <img src="/static/images/hostad2.png" alt="" style="height: 50px">
                </a>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="#home-page">Home</a></li>
                    <li><a href="#feature-page">Products</a></li>
                    <li><a href="#service-page">Features</a></li>
                    <li><a href="#team-page">Team</a></li>
                    <li><a href="#blog-page">Blog</a></li>
                    <li><a href="#contact-page">Contact</a></li>
                    <li><a href="{% url 'first' %}">Customer portal</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">

        
        
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <br><br>
                    <h2>Don't just post Ads, HostAds</h2>

                    
                     <p>HostAd helps with all your publicity needs, regardless how big or how small your business is. Our happy to help team provide you with a plethora of branding services and artistic assistance to create an arena where your great products/services get what they deserve. So the customers get the best of you and you get the best of your plans.</p>


                   <!-- <a href="{% url 'first' %}" class="button white">Customer Portal</a> -->
                </div>
                
            </div>
        </div>
    </header>
    <!--Header-area/-->



    <!--Feature-area-->
    <section class="gray-bg section-padding" id="feature-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>PRODUCTS</h2>
                        <p>It’s all about the impacting interactions customers have with the products, which we, at HostAd proudly provide with help of our products.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/udnkhatola.jpg" alt="" style="height: 140px">
                        </div>
                        <h3>UDNKHATOLA</h3>
                        <p>Get your Ads featured in the country's most preferable commuting platform whenever your probable customers travel around your store.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/plasma2.jpg" alt="" style="height: 150px">
                        </div>
                        <h3>PLASMA SCREEN</h3>
                        <p>HostAd Screens on the poshest lanes in the city, that would play ads all day long and help you to capture the amaze of more than 50,000 customers in a day.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/autoflex.jpg" alt="" style="height: 150px">
                        </div>
                        <h3>AUTO-FLEX</h3>
                        <p>HostAds helps you put still flex banners behind local auto rickshaws. which would promote your products/services around the town.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/socialmedia.jpg" alt=""style="height: 150px">
                        </div>
                        <h3>SOCIAL MEDIA MARKETING</h3>
                        <p>A slogan can speak more than Your marketing Person!  But making your slogan reach to right person in right way is more important.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/video.jpg" alt="" style="height: 150px">
                        </div>
                        <h3>GRAPHIC DESIGN & VIDEO MAKING</h3>
                        <p> Create art impression via graphic design, motion videos and animation to express your version of story with Hostad. </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/marketing.jpg" alt="" style="height: 150px">
                        </div>
                        <h3>MARKETING SOLUTION</h3>
                        <p>Creative without strategy is called art, but creative with strategy is called advertising, which we, at HostAd proudly provide.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Feature-area/-->

    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>UdnKhatola</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>UdnKhatola plays ads when a customer passes around your store. They get to know about all your best deals, when they are travelling in a public auto rickshaw. We attach a screen inside the auto, where your ads are played, and your customer catches it during the ride. So now you don't even miss a moment when you are not being advertised.</p>
                                        </div>
                                     <!--<div class="caption-button" data-animation="animated fadeInUp"> 
                                            <a href="#" class="button">Read more</a>
                                        </div> -->
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="/static/images/udnpic2.png" alt="" style="height: 356px; width: 200px;">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img src="/static/images/udnpic.jpg" alt="" style="height: 356px; width: 200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Auto-Flex</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>We can fix flex banners on thousands of autorickshaws that moves around the narrowest alleyways. Our creative team will design the best flex banners just for you, so you make a place in the minds of every person as the ads are displayed around each and every locality.</p>
                                        </div>
                                   <!-- <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div> -->
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="/static/images/autoflex2.png" alt="" style="height: 356px; width: 200px;">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img src="/static/images/autoflex3.png" alt="" style="height: 356px; width: 200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Video Production, Animation & Graphics</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>A wise man once said, “A picture is worth thousand words. A video, maybe Billions”<br>And if you don't have a video ad, our creative team of HostAd will help you speak those billion words.</p>
                                        </div>
                                       <!-- <div class="caption-button" data-animation="animated fadeInUp">
                                            <a href="#" class="button">Read more</a>
                                        </div> -->
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="/static/images/videoproduction2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img src="/static/images/videoproduction1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Marketing Solutions </h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>New to business, we are there! <br>HostAd provides strategic and influential consultancy to every business, for promotional and developmental aspects. Our team will help you with creating an everlasting impact on your customers, and that's what HostAd is all about.</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="/static/images/marketing1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img src="/static/images/marketing2.png" alt="" style="height: 356px; width: 200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators caption-indector">
                            <li data-target="#caption_slide" data-slide-to="0" class="active">
                                <strong>UdnKhatola </strong>
                            </li>
                            <li data-target="#caption_slide" data-slide-to="1">
                                <strong>Auto-Flex</strong>
                            </li>
                            <li data-target="#caption_slide" data-slide-to="2">
                                <strong>Video Production, Animation </strong><strong>& Graphics</strong>
                            </li> 
                           <!-- <li data-target="#caption_slide" data-slide-to="3">
                                <strong>Marketing Solutions </strong>
                            </li> -->
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gray-bg section-padding" id="service-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Features</h2>
                        <p>Features which help you to stand out from competitors, when you are featured on any of the HostAd Products.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">-
                            <img src="/static/images/payperview.png" alt="" style="height: 150px">
                        </div>
                        <h4>PAY PER VIEW</h4>
                        <p>“Stopping advertising to save money is like stopping your watch to save time” and now it doesn't even cost much. Hostad lets you play your advertisement at very affordable rates i.e. 20 paise per view. </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/timetarget.png" alt="" style="height: 150px">
                        </div>
                        <h4>TIME TARGETED VIDEO ADVERT</h4>
                        <p>We plan a strategic time balance so you can customise time slots  according to your requirements, so that you can target maximum with minimum runs of ads</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="/static/images/Analytic.png" alt="" style="height: 150px">
                        </div>
                        <h4>ANALYTICA</h4>
                        <p> “Never got to know the money you pay catches how many eyeballs”.Check ANALYTICA with HostAd which keep you informed about total number of views of ad and location where your ad was played!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>






   <section class="section-padding overlay client-area overlay" id="client-page">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="clients">
                        <div class="item">
                            <img src="/static/images/client/fmc.jpg" alt="" style="height:140px;">
                        </div>
                        <div class="item">
                            <img src="/static/images/client/bradjam.jpg" alt="" style="height:140px;">
                        </div>

                        <div class="item">
                            <img src="/static/images/client/american.jpg" alt="" style="height:140px; width: 250px;">
                        </div>
                        <div class="item">
                            <img src="/static/images/client/singhsdelight.jpg" alt="" style="height:140px; width: 250px;">
                        </div>

                        <div class="item">
                            <img src="/static/images/client/kota2kashi.jpg" alt="" style="height:140px; width: 250px;">
                        </div>

                        <div class="item">
                            <img src="/static/images/client/helpmitra.jpg" alt=""  style="height:140px;">
                        </div>
                        <div class="item">
                            <img src="/static/images/client/youngskilledindia.png" alt=""  style="height:140px;">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section-padding gray-bg" id="team-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div >
                        <h2>Our Team</h2>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="/static/images/divya.png" height="460px" width="413px" alt="">
                        </div>
                        <h4>Divyanshu </h4>
                        <h6></h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/divyanshu.kashyap.12"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Divyanshu16296"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/divyanshu-kashyap-183586124/"><i class="ti-linkedin"></i></a></li>
                            <!--<li><a href="#"><i class="ti-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="/static/images/shivam.jpg" height="460px" width="413px" alt="">
                        </div>
                        <h4>Shivam</h4>
                        <h6> </h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/profile.php?id=100012751662247"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/rockbox252"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/shivam-gupta-bb058012a/"><i class="ti-linkedin"></i></a></li>
                            <!--<li><a href="#"><i class="ti-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="/static/images/kishan.jpg" height="460px" width="413px" alt="">
                        </div>
                        <h4>Kishan</h4>
                        <h6></h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/kumar.gaurav.kishan"><i class="ti-facebook"></i></a></li>
                           <!-- <li><a href="#"><i class="ti-twitter"></i></a></li> -->
                            <li><a href="https://twitter.com/sameer_mankar"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/kishan-kumar-153924127/"><i class="ti-linkedin"></i></a></li>
                         <!--   <li><a href="#"><i class="ti-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="/static/images/pulkit.jpg" height="460px" width="413px" alt="">
                        </div>
                        <h4>Pulkit</h4>
                        <h6></h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/profile.php?id=100008290084699&ref=br_rs"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/rajpulkit1808"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/pulkit-raj-183699126/"><i class="ti-linkedin"></i></a></li>
                        <!--    <li><a href="#"><i class="ti-pinterest"></i></a></li>  -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="testimonial-area section-padding gray-bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Testimonials</h2>
                        <p>Your brand is what other people say about you when you’re not in the room.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="testimonials">
                        <div class="testimonial">
                            <div class="testimonial-photo">
                                <img src="/static/images/client/trisha.jpg" height="120px" width="120px" alt="">
                            </div>
                            <h3>RJ Trisha</h3>
                            <p>In the era where marketing is equally essential as maintaining the quality of the product, Udnkhatola a product of Hostad has proven to revolutionize the industry.</p>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial-photo">
                                <img src="/static/images/client/pkmishra2.png" alt="" style="height: 120px;">
                            </div>
                            <h3>P K Mishra</h3>
                            <p>If you want your message to hit on the day a product launches or event is about to happen in Varanasi, HostAd is the only platform you can rely on.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding gray-bg" id="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-photo">
                            <img src="/static/images/Udnteam.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="https://yourstory.com/2018/03/two-iitians-aim-disrupt-advertising-space-unique-video-ad-platform/">Two IITians aim to disrupt advertising space with unique video ad platform</a></h3>
                            <ul class="blog-meta">
                                <li><span class="ti-user"></span> <a href="https://yourstory.com/author/libza-mannan">Libza Mannan</a></li>
                                <li><span class="ti-calendar"></span> <a href="#">March 10, 2018</a></li>
                            </ul>
                            <p>The platform aspires to provide exposure to big brands struggling to maintain demand, and help small brands become big through brand promotion and development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-photo">
                            <img src="/static/images/parall.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="https://medium.com/the-quest-iit-bhu/udnkhatola-188a78002b80">The Quest, IIT BHU</a></h3>
                            <ul class="blog-meta">
                                <li><span class="ti-user"></span> <a href="#">Adit Agarwal</a></li>
                                <li><span class="ti-calendar"></span> <a href="#">April 6, 2018</a></li>
                            </ul>
                            <p>Talking of such startups, we have one budding right here in the institute, Udnkhatola, a business to business proximity-based advertising service. The problem which the team identified was that people spend a lot of time in commuting and during this time, </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-photo">
                            <img src="/static/images/ibhub.png" alt="" style="height: 200px; width: 359px;">
                        </div>
                        <div class="blog-content">
                            <h3><a href="https://happenings.ibhubs.co/grand-finale-of-startup-india-yatra-up-edition-3cb2c4b198e5">Grand Finale of Startup India Yatra — UP Edition</a></h3>
                            <ul class="blog-meta">
                                <li><span class="ti-user"></span> <a href="https://happenings.ibhubs.co/">ib Hubs</a></li>
                                <li><span class="ti-calendar"></span> <a href="https://happenings.ibhubs.co/grand-finale-of-startup-india-yatra-up-edition-3cb2c4b198e5">Jan 28, 2018</a></li>
                            </ul>
                            <p>The grand finale of Startup India Yatra UP Edition has finally come to a perfect closure! iB Hubs offered Pre-Incubation support to Udnkhatola, a startup based on Advertisement Sector.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div class="page-title">
                            <h2>Contact us</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <address class="side-icon-boxes">
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="/static/images/location-arrow.png" alt="">
                                </div>
                                <p><strong>Address: </strong> Varanasi, Uttar Pradesh<br />India</p>
                            </div>
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="/static/images/phone-arrow.png" alt="">
                                </div>
                                <p><strong>Telephone: </strong>
                                    <a href="callto:+919905164177">+919905164177</a> <br />
                                    <a href="callto:+917007828937">+917007828937</a> <br />
                                </p>
                            </div>
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="/static/images/mail-arrow.png" alt="">
                                </div>
                                <p><strong>E-mail: </strong>
                                    <a href="mailto:udnkhatola@gmail.com">team@hostad.in</a> <br />
                                    
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-8">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                        <form action=""  method="post">
                            {% csrf_token %}
                            <div class="form-double">
                                <input type="text" id="form-name" name="Name" placeholder="Your name" class="form-control" required="required">
                                <input type="email" id="form-email" name="from_email" class="form-control" placeholder="E-mail address" required="required">
                            </div>

                            <input type="text" id="form-subject" name="subject" class="form-control" placeholder="Message topic">

                            <textarea name="message" id="form-message" name="message" rows="5" class="form-control" placeholder="Your message" required="required"></textarea>

                            <button type="sibmit" class="button" >Submit</button>

                        </form>


                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <ul class="social-menu text-right x-left">
                            <li><a href="https://www.facebook.com/udnkhatola/"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/udnkhatola"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/112556908096050293356"><i class="ti-google"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/11198995/"><i class="ti-linkedin"></i></a></li>
                           <!-- <li><a href="#"><i class="ti-github"></i></a></li> -->
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>"The business that considers itself immune to the necessity for advertising sooner or later finds itself immune to business"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>&copy;Copyright 2018 All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!--Vendor-JS-->
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/contact-form.js"></script>
    <script src="/static/js/jquery.parallax-1.1.3.js"></script>
    <script src="/static/js/scrollUp.min.js"></script>
    <script src="/static/js/magnific-popup.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="/static/js/main.js"></script>
</body>

</html>


